$font_color0: #ffffff;
$font_color1: #222222;
$font_color2: #f16d7f;
$font_weight1: 400;
$font_weight2: $font_weight1 - 100;
$bg_color2: #f1e4e6;
$header_back_color: #222222;
@mixin flxbx-algn-center {
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

button,
input {
    font-family: inherit;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

.catalog-nav-wrap {
    @include flxbx-algn-center();
    flex-wrap: wrap;
    justify-content: space-between;
    height: 130px;
    &-left {
        width: 364px;
        @include flxbx-algn-center();
        position: relative;
        &:hover .catalog-nav-wrap-left-dropdown {
            transform: scaleY(1);
            transition: transform 0.2s;
            transform-origin: top;
        }
        &-dropdown {
            left: 0px;
            top: 20px;
            z-index: 1;
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            padding: 16px;
            width: 360px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            transform: scaleY(0);
            &-ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
                gap: 11px;
                margin-top: 24px;
                margin-bottom: 24px;
                margin-left: 17px;
            }
            &-h3 {
                font-weight: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #ef5b70;
                border-left: 5px solid #ef5b70;
                border-bottom: 1px solid #ebebeb;
                padding: 11px;
            }
        }
        &-button {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin-left: 15px;
            margin-right: 15px;
            border-style: none;
            background-color: inherit;
            &-svg {
                margin-left: 10px;
            }
            &:hover .catalog-nav-wrap-left-button-svg {
                fill: #ef5b70;
            }
            &:hover {
                cursor: pointer;
                color: #ef5b70;
            }
        }
    }
    &-center {
        width: 364px;
        list-style-type: none;
        @include flxbx-algn-center();
        &-size {
            position: relative;
            &:hover .catalog-nav-wrap-center-size-dropdown {
                transform: scaleY(1);
            }
            &-dropdown {
                position: absolute;
                z-index: 1;
                left: -9px;
                width: 79px;
                padding: 7px 9px;
                background-color: #ffffff;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                transform: scaleY(0);
                &-ul {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #6f6e6e;
                    list-style-type: none;
                }
            }
        }
        &-button {
            @include flxbx-algn-center();
            margin-right: 30px;
            font-size: 14px;
            line-height: 17px;
            color: #6f6e6e;
            border-style: none;
            background-color: inherit;
            &-img {
                margin-left: 10px;
            }
            &:hover .catalog-nav-wrap-center-button-img {
                transition-duration: 0.3s;
                transform: rotate(-180deg);
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-right {
        width: 364px;
    }
}

.header {
    background-color: $header_back_color;
    color: $font_color0;
    padding: 18px 0;
    &-wrap {
        @include flxbx-algn-center();
        justify-content: space-between;
    }
    &-logo:hover {
        transition-duration: 0.3s;
        transform: rotate(-360deg);
    }
    &-search:hover {
        transition-duration: 0.3s;
        transform: rotate(90deg);
    }
    &-logo-link {
        margin-right: 41px;
    }
    &-col-2 {
        list-style-type: none;
        display: flex;
        gap: 33px;
        &-li {
            position: relative;
            &:hover .header-menu-link-drop-down-catalog {
                transform: scaleY(1);
            }
        }
    }
    &-menu-link {
        @include flxbx-algn-center();
        justify-content: center;
        height: 30px;
        width: 30px;
        color: #e8e8e8;
        text-decoration: none;
        &:hover {
            color: $font_color2;
            transition-duration: 0.3s;
        }
        &-drop-down-catalog {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 232px;
            background-color: #ffffff;
            padding-left: 34px;
            padding-bottom: 37px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            transform: scaleY(0);
            transform-origin: left top;
            transition: transform 0.2s;
            z-index: 1;
            &-h3 {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #f16d7f;
                margin-top: 20px;
                margin-bottom: 12px;
            }
            &-ul {
                list-style-type: none;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                gap: 11px;
            }
        }
    }
}

.header-menu-link .fa-bars {
    font-size: 30px;
}
.header-menu-link .fa-cart-plus {
    font-size: 30px;
}
.header-menu-link .fa-user {
    font-size: 30px;
}

.offer {
    background-color: $bg_color2;
    padding-top: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    &-left {
        display: flex;
    }
    &-right {
        padding-right: 100px;
        &-h1 {
            border-left: 16px solid $font_color2;
            &-sbold {
                font-weight: 900;
                font-size: 48px;
                line-height: 58px;
                color: $font_color1;
                padding-left: 16px;
            }
            &-slx {
                padding-left: 16px;
            }
            &-sred {
                font-weight: bold;
                font-size: 32px;
                line-height: 38px;
                color: $font_color2;
            }
        }
    }
    &-wrap {
        @include flxbx-algn-center();
        justify-content: space-between;
    }
}

.inner-header {
    height: 148px;
    background: $bg_color2;
    &-wrap {
        padding-top: 59px;
        @include flxbx-algn-center();
        justify-content: space-between;
        &-h1 {
            font-weight: $font_weight1;
            font-size: 24px;
            line-height: 29px;
            color: $font_color2;
        }
    }
}

.categories {
    background-color: #fff;
    margin-top: 60px;
    &-wrap {
        @include flxbx-algn-center();
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-card {
        width: 360px;
        height: 260px;
        padding-top: 105px;
        background-color: lightgrey;
        &-acc {
            width: 1140px;
            height: 180px;
            margin-top: 30px;
            padding-top: 65px;
        }
        &-h3-1 {
            font-weight: $font_weight1;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: $font_color0;
        }
        &-h3-2 {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: $font_color2;
        }
    }
}

.products {
    margin-top: 95px;
    margin-bottom: 95px;
    &-header {
        @include flxbx-algn-center();
        flex-direction: column;
        margin-bottom: 48px;
        &-h2 {
            font-weight: $font_weight1;
            font-size: 30px;
            line-height: 36px;
            color: $font_color1;
        }
        &-h3 {
            font-weight: $font_weight1;
            font-size: 14px;
            line-height: 17px;
            color: #9f9f9f;
        }
    }
    &-cards {
        @include flxbx-algn-center();
        justify-content: space-between;
        flex-wrap: wrap;
        &-plaincard {
            width: 360px;
            height: 581px;
            background-color: #f8f8f8;
            margin-bottom: 30px;
            position: relative;
            &:hover .products-cards-plaincard-overlay {
                opacity: 0.5;
            }
            &-text {
                margin-top: 24px;
                margin-left: 16px;
                margin-right: 16px;
            }
            &-text1row {
                font-weight: $font_weight1;
                font-size: 13px;
                line-height: 16px;
                color: #000000;
            }
            &-text2row {
                font-weight: $font_weight2;
                font-size: 14px;
                line-height: 17px;
                color: #5d5d5d;
                margin-top: 16px;
                margin-bottom: 18px;
            }
            &-text3row {
                font-weight: $font_weight2;
                font-size: 16px;
                line-height: 19px;
                color: $font_color2;
            }
            &-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 420px;
                background-color: rgba(58, 56, 56, 0.83);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: 0.5s;
                &-button {
                    @include flxbx-algn-center();
                    padding: 12px;
                    border: 1px solid white;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #ffffff;
                    background-color: inherit;
                    &:hover {
                        cursor: pointer;
                        // border: 1px dashed #ef5b70;
                        transition-duration: 1s;
                        transform: rotateX(360deg);
                    }
                }
            }
        }
    }
}

.products-browse {
    @include flxbx-algn-center();
    justify-content: center;
    &-button {
        padding: 14px 38px;
        border: 1px solid $font_color2;
        font-weight: $font_weight1;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        background-color: white;
        transition: 0.3s;
        &:hover {
            color: white;
            background-color: #f26376;
            border: 1px single white;
            cursor: pointer;
        }
    }
    &-slider {
        @include flxbx-algn-center();
        list-style-type: none;
        gap: 20px;
        padding: 15px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        &-link {
            text-decoration: none;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #c4c4c4;
            &:hover {
                color: #ef5b70;
                transition-duration: 0.3s;
                font-weight: bold;
            }
        }
    }
}

.benefits {
    background-color: $header_back_color;
    color: $font_color0;
    padding: 100px 0;
    &-wrap {
        @include flxbx-algn-center();
        justify-content: space-around;
    }
    &-lnk {
        @include flxbx-algn-center();
        flex-direction: column;
        text-decoration: none;
        &:hover {
            transition-duration: 0.3s;
            transform: scale(1.05);
        }
    }
    &-p {
        font-weight: $font_weight1;
        font-size: 19.96px;
        line-height: 24px;
        color: #fbfbfb;
        margin-top: 33px;
        margin-bottom: 23px;
    }
    &-text-p {
        font-weight: $font_weight2;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #fbfbfb;
    }
}

.subscribe {
    height: 448px;
    /* background-image: url(img/subscribe.jpg); */
    /* background-size:cover; */
    /* background-repeat: no-repeat; */
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &-left {
        @include flxbx-algn-center();
        flex-direction: column;
        width: 343px;
        &-h3 {
            font-weight: $font_weight1;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: $font_color1;
        }
        &-img {
            margin-top: 97px;
            margin-bottom: 30px;
        }
    }
    &-right {
        @include flxbx-algn-center();
        flex-direction: column;
        width: 50%;
        &-h2head {
            font-weight: bold;
            font-size: 24px;
            line-height: 167.2%;
            text-align: center;
            color: $font_color1;
            margin-top: 150px;
        }
        &-h2text {
            font-size: 18px;
            line-height: 167.2%;
            text-align: center;
            color: $font_color1;
            margin-bottom: 32px;
        }
        &-input {
            background: #e1e1e1;
            border-style: none;
            font-weight: $font_weight1;
            font-size: 14px;
            line-height: 17px;
            color: $font_color1;
            opacity: 0.67;
            border-radius: 30px 0 0 30px;
            width: 256px;
            padding: 20px;
            &:hover {
                transition-duration: 0.3s;
                background: #d4d4d4;
            }
        }
        &-button {
            background-color: $font_color2;
            border-style: none;
            font-weight: $font_weight1;
            font-size: 14px;
            line-height: 17px;
            color: $font_color0;
            border-radius: 0 30px 30px 0;
            padding: 20px;
            &:hover {
                transition-duration: 0.3s;
                background: #e05c6e;
                cursor: pointer;
            }
        }
    }
    &-form {
        display: flex;
    }
}

.registration-form {
    background-color: #fff;
    margin-top: 60px;
    margin-bottom: 96px;
    &-left-p {
        font-weight: $font_weight2;
        font-size: 13px;
        line-height: 16px;
        color: #b1b1b1;
        width: 359px;
        margin-bottom: 39px;
    }
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &-left {
        display: flex;
        flex-direction: column;
        &-label {
            font-weight: $font_weight2;
            font-size: 16px;
            line-height: 19px;
            color: $font_color1;
        }
    }
    &-right {
        width: 652px;
        &-h2 {
            font-weight: $font_weight2;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 22px;
        }
        &-ul {
            font-weight: $font_weight2;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            list-style-type: none;
        }
        &-li {
            margin-bottom: 16px;
        }
    }
    &-input {
        border: 1px solid #a4a4a4;
        font-weight: $font_weight2;
        font-size: 13px;
        line-height: 16px;
        color: #b1b1b1;
        width: 359px;
        /* height: 44px; */
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 17px;
    }
    &-submit {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $font_color0;
        /* height: 50px; */
        padding: 15px;
        width: 165px;
        background-color: $font_color2;
        border: 1px solid $font_color2;
        &:hover {
            transition-duration: 0.3s;
            background-color: $font_color0;
            color: $font_color2;
            cursor: pointer;
        }
    }
}

.rb-malefemale {
    font-weight: $font_weight2;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    @include flxbx-algn-center();
    justify-content: left;
    margin-bottom: 33px;
    margin-top: 11px;
    &-label:hover {
        cursor: pointer;
    }
}

.span-mf {
    margin-left: 10px;
    margin-right: 20px;
}

.footer {
    background-color: $header_back_color;
    color: $font_color0;
    padding: 23px 0;
    &-col-2 {
        display: flex;
        &-fblink {
            margin-right: 8px;
        }
        &-instalink {
            margin-right: 8px;
        }
        &-plink {
            margin-right: 8px;
        }
    }
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-h3 {
        font-size: 16px;
        line-height: 19px;
        color: #fbfbfb;
    }
    &-social-ul {
        list-style-type: none;
        display: flex;
        gap: 8px;
    }
    &-social-link {
        text-decoration: none;
        background-color: #ffffff;
        height: 32px;
        width: 32px;
        @include flxbx-algn-center();
        justify-content: center;
        color: black;
        &:hover {
            background-color: #f16d7f;
            transition-duration: 0.3s;
            transition-property: background-color;
        }
    }
}

.carts {
    padding-top: 96px;
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &-right {
        margin-left: 128px;
        width: 359px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-buttons {
            width: 652px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 128px;
            &-btn {
                background-color: #fff;
                border-style: none;
                border: 1px solid #a4a4a4;
                font-weight: $font_weight2;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                padding: 17px 40px;
                &:hover {
                    background-color: #a4a4a4;
                    color: #fff;
                    transition-duration: 0.3s;
                    cursor: pointer;
                }
            }
        }
    }
    &-plaincard {
        height: 306px;
        width: 652px;
        display: flex;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;
    }
    &-plaincard-text {
        padding-left: 31px;
    }
    &-plaincard-text-h2 {
        font-weight: $font_weight1;
        font-size: 24px;
        line-height: 29px;
        color: $font_color1;
        padding-top: 22px;
        padding-bottom: 42px;
    }
    &-plaincard-text-ul {
        font-weight: $font_weight1;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        list-style-type: none;
    }
    &-plaincard-text-ul-li {
        margin-bottom: 10px;
        &-price {
            font-weight: $font_weight1;
            font-size: 22px;
            line-height: 26px;
            color: #ef5b70;
        }
        &-desc {
            font-weight: $font_weight1;
            font-size: 22px;
            line-height: 26px;
            color: #6f6e6e;
        }
        &-q {
            font-weight: $font_weight1;
            font-size: 22px;
            line-height: 26px;
            color: #6f6e6e;
            border: 1px solid #eaeaea;
            padding-left: 16px;
            padding-right: 16px;
            margin-left: 30px;
        }
    }
    &-registration-form-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding-top: 20px;
    }
    &-registration-form-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #f5f3f3;
        padding: 40px;
        margin-top: 57px;
        &-h3-1 {
            font-weight: $font_weight1;
            font-size: 11px;
            line-height: 13px;
            color: #4a4a4a;
            margin-bottom: 12px;
        }
        &-h3-2 {
            font-weight: $font_weight2;
            font-size: 16px;
            line-height: 19px;
            color: $font_color1;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: 21px;
        }
    }
}

.cart-img {
    height: 306px;
    width: 262px;
}

.cart-x {
    position: relative;
    top: 18px;
    left: 350px;
    height: 18px;
    width: 18px;
}

.registration-form-submit-quote {
    font-weight: $font_weight2;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
    padding: 10px 15px 10px 15px;
    background-color: #fff;
    border-style: none;
    border: 1px solid #a4a4a4;
    &:hover {
        transition-duration: 0.3s;
        color: #fff;
        background-color: #a4a4a4;
        cursor: pointer;
    }
}

.carts-registration-form-input {
    border: 1px solid #a4a4a4;
    font-weight: $font_weight2;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
    width: 100%;
    /* height: 44px; */
    margin-bottom: 20px;
    padding: 15px;
}

.carts-span1 {
    margin-left: 25px;
}

.carts-span2 {
    color: $font_color2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 25px;
}

.registration-form-proceed {
    margin-top: 17px;
    background: $font_color2;
    border: 1px solid $font_color2;
    font-weight: $font_weight2;
    font-size: 16px;
    line-height: 19px;
    color: $font_color0;
    width: 100%;
    padding: 14px 39px;
    &:hover {
        transition-duration: 0.3s;
        background: $font_color0;
        color: $font_color2;
        cursor: pointer;
    }
}

.breadcrumbs-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.breadcrumbs-item::before {
    content: "/";
    margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
    display: none;
}

.breadcrumbs-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    transition: 0.3s;
}

.breadcrumbs-link--current {
    font-weight: bold;
    color: #f16d7f;
}

.breadcrumbs-link[href]:hover {
    text-decoration: underline;
    color: #f16d7f;
}

.product-offer {
    height: 777px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        padding: 13px 17px;
        background-color: rgba(42, 42, 42, 0.15);
        &:hover {
            fill: #f16d7f;
            cursor: pointer;
            transition-duration: 0.3s;
            transform: rotateX(180deg);
        }
    }
}

.product-desc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -65px;
    border: 1px solid #eaeaea;
    height: 601px;
    background-color: white;
    &-text1 {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #f16d7f;
        margin-top: 65px;
    }
    &-divider1 {
        border: 1px solid #ef5b70;
        height: 1px;
        width: 61px;
        margin-top: 12px;
    }
    &-text2 {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4d4d4d;
        margin-top: 12px;
    }
    &-text3 {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5e5e5e;
        width: 555px;
        margin-top: 48px;
    }
    &-text4 {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #ef5b70;
        margin-top: 32px;
    }

    &-divider2 {
        border-top: 1px solid #eaeaea;
        height: 0px;
        width: 639px;
        margin-top: 65px;
    }
    &-button {
        @include flxbx-algn-center();
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
        border: 1px solid #f26376;
        background-color: inherit;
        margin-top: 48px;
        &-svg {
            fill: #f26376;
            margin: 15px 24px 9px 24px;
        }
        &-text {
            margin-right: 57px;
        }
        &:hover {
            cursor: pointer;
            transition-duration: 0.3s;
            background-color: #f26376;
            color: white;
        }
        &:hover .product-desc-wrap-button-svg {
            fill: white;
        }
    }
}

.product-desc-ul {
    list-style-type: none;
    @include flxbx-algn-center();
    margin-top: 65px;
    &-button {
        @include flxbx-algn-center();
        margin-right: 30px;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
        border-style: none;
        background-color: inherit;
        &-img {
            margin-left: 10px;
        }
        &:hover .product-desc-ul-button-img {
            transition-duration: 0.3s;
            transform: rotate(-90deg);
        }
        &:hover {
            cursor: pointer;
        }
    }
}
